

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    height: 50px;


}

.logo{
    img{
        width: 65px;
    }
}

.search-section
{
    display: flex;
    align-items: center;
    .search-bar {
        width: 500px;
        display: flex;
        position: relative;
            input {
                width: 100%;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.25);
                border-radius: 8px;
                margin: 1.2rem 1.2rem;
    
                &:focus {
                    outline: none;
                    border-color: #333;
                }
    
    
            }
        }
        button{
            border: none;
            border-radius: 20px;
            padding: 8px;
            background-color: transparent;
            position: absolute;
            right:20px;
            top: 20px;
        }
        button:hover{
        // box-shadow:inset 1px 1px 1px rgb(0, 0, 0, 0.25);
        // background-color: rgb(224, 224, 224);
        cursor: pointer;
    
        }
}

.menu-icons{
    display: flex;
    gap:1rem;

    .icon, .users, .cart{
        border: none;
        background: white;
        padding: 0.5rem;
        cursor: pointer;
        &:hover{
            opacity: 0.75;
        }
    }

    img{
        height: 24px;
        width: 24px;
    }


}

@media (max-width: 568px) {
    
.search-bar{
    width:180px;
}
}